{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand font-gothic" rel="author" href="{{ "/" | relative_url }}">
    <h1>
      MASTER IN DESIGN FOR <br>
      EMERGENT FUTURES
    </h1>
    <h6 class="text-white"> 2021-2022 </h6>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center text-uppercase" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      {%- if page_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link text-white mr-4" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

    </ul>
  </div>
</nav>
