---
# Only the main Sass file needs front matter (the dashes are enough)
---

$blue: #1761b1;

@font-face {
  font-family: 'Nimbus';
  src: url('nimbus-sans-l/NimbusSanL-Regu.ttf');
}

@font-face {
  font-family: 'Gothic';
  src: url('AlternateGothicATF-Heavy.otf');
}

.font-libre {
  font-family: 'Libre Baskerville', serif;
}

.font-gothic {
  font-family: 'Gothic', sans-serif;
}

body {
  font-family: 'Nimbus';
}

.navbar-brand {
  font-size: 30px;
}

.btn {
  border-radius: unset;
  padding: 10px 25px;
}

.btn-primary {
  background: $blue;
  border: $blue;
}

.nav-link:hover {
  text-decoration: underline;
}

a {
  color: unset;
  font-weight: 900;
  &:hover {
    color: unset;
  }
}

.bg-primary {
  background: #232cae !important;
}

.btn-dark, .bg-dark {
  background: #000 !important;
}

.btn-danger {
  background: #f31f41 !important;
}

.bg-atom {
  background-image: url("{{ '/assets/atom.jpg' | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.bg-iss {
  background-image: url("{{ '/assets/iss.jpg' | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-student {
  background-image: url("{{ '/assets/MDEF-students3.jpg' | relative_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
